
			<div id="mainContent">
				<div id="aboutContent" style="padding-top: 30px">

					<div id="staff" >
							<%= render 'shared/get_content' %>	
					</div>

				</div><!-- #aboutContent -->
			</div> <!-- #mainContent -->
