<div id="mainContent">
				<div id="aboutContent" style="padding-top: 30px">
					<div id="background">
						
			<%= render 'shared/get_editable_content' %>	
						
					</div><!-- #background -->
	
				</div><!-- #aboutContent -->
			</div> <!-- #mainContent -->
