
			<div id="mainContent">
				<div id="aboutContent" style="padding-top: 30px">

				
					<div class="subtopicHeading" >Board
					</div>
					<div id="board" >
						Board Info here
					</div>
					
					<div class="subtopicHeading" >Footnotes
							<span id="footnotesIcon" class="ui-icon ui-icon-plusthick"></span>
							</div>
				
				</div><!-- #aboutContent -->
			</div> <!-- #mainContent -->
