
			<div id="mainContent">
				<div id="aboutContent" style="padding-top: 30px">

					<div id="board" >
						
						<%= render 'shared/get_content' %>
						<%= image_tag "/assets/Meienberg.jpg"%>
					</div>
				
				</div><!-- #aboutContent -->
			</div> <!-- #mainContent -->
