
<div id="mainContent">
	<div id="aboutContent" style="padding-top: 30px">


		<div id="activities" >
					<%= render 'shared/get_content' %>	
		</div><!-- #activities -->

			
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->
