<div id="mainContent">
	<div id="aboutContent" style="padding-top: 30px">
		<div id="members" >
			<%= render 'shared/get_content' %>	
		</div>
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->
