
<div id="mainContent">
	<div id="aboutContent" style="padding-top: 30px">


		<div class="subtopicHeading" >Activities
			</div>
		</div>
		<div id="activities" >
			<p>
			Seeds for All, under its former name APBREBES, first applied for observer status to UPOV in September 2009. The Consultative Committee – the de facto decision-making and only body of UPOV not open to observers – decided at its October 2009 meeting that it could not consider the application until Seeds for All demonstrated its competence in areas of direct relevance to matters governed by the UPOV Convention [reminder to link to the blog I will write on observer status]. The UPOV Rules Governing the Granting of Observer Status to Non-Governmental Organizations states “the statutes for international non-governmental organizations will form the basis to determine that competence.” Accordingly, Seeds for All in May 2010 resubmitted its original application and attached its statutes of incorporation as well as a summary of activities and competences of its member organizations.
			</p><p>
			Seeds for All (known at the time as APBREBES) was granted observer status to the Council, the Administrative and Legal Advisory Commiteee (CAJ), the Technical Committee and the Technical Working Groups.<sup id="fnref:3"><a href="#fn:3" rel="footnote">3</a></sup>The Consultative Committee remains closed to observers. The European Coordination Via Campesina (ECVC) was granted observer status at the same time.
			</p><p>
			After Seeds for All and ECVC were granted observer status, UPOV established an ad hoc working group on rules for observers and access to documents. To give input to this process, in April 2011 Seeds for All produced the report “Observer Status and Access to Documents - Comparative Analysis across Selected International Organizations.”<sup id="fnref:4"><a href="#fn:4" rel="footnote">4</a></sup>Seeds for All submitted the report to the UPOV Office in October 2011 stressing the three recommendations: 
			<ol><li>
			Make all UPOV documents publicly available</li><li>
			Invite all observers to join it work, with a view to achieve a balanced representation of the different stakeholders</li><li>
			Allow participation of observers in the Consultative Committee </li></ol>
			<p>
			UPOV has made strides to increase transparency.  After the release of the report on norms for observers and access to documents, UPOV abolished its “first restricted” area where all documents to the Legal and Administrative Committee as well as different technical working groups had been located and unavailable to observers and the general public. This increase in public availability of documents is important first step to make UPOV more transparent, accountable and participatory.  Seeds for All will continue to advocate for all UPOV documents to be made publicly available and for the opening of meetings of the Consultative Committee to observers.
			</p><p>
			Seeds for All has recently hired its first Executive Director.  It will continue its work monitoring UPOV developments and working to ensure that in encouraging the development of new varieties for the “benefit of society” adequate space is left internationally and nationally for consideration of how UPOV can best be applied to help the world meets its food security and poverty alleviation objectives.<sup id="fnref:5"><a href="#fn:5" rel="footnote">5</a></sup>
			</p>

		
			
		</div><!-- #activities -->
		<div class="subtopicHeading" >Footnotes
				<span id="footnotesIcon" class="ui-icon ui-icon-plusthick"></span>
				</div>
		<div id="footnotes" style="display: none;">
			
				<div class="footnotes">
				 <hr>
				 <ol start="3">
					
				 <li id="fn:3">
				 <p>
				  	 <a href="http://www.upov.int/about/en/organigram.html">www.upov.int/about/en/organigram.html</a>
				 </p>
				 <a href="#fnref:3" rev="footnote">↩</a> 
				 </li>

				 <li id="fn:4">
				 <p>
				  <a href="http://www.evb.ch/cm_data/Report_rulesconserningobservers_finaldraft.pdf">Rules Concerning Observers</a>
				 </p>
				 <a href="#fnref:4" rev="footnote">↩</a> 
				 </li>

				 <li id="fn:5">
				 <p>
				  <a href=" http://www.un.org/millenniumgoals/bkgd.shtml">www.un.org/millenniumgoals/bkgd.shtml</a>
				 </p>
				 <a href="#fnref:5" rev="footnote">↩</a> 
				 </li>
				</ol>
				 </div>
			</div>
			
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->
