
			<div id="mainContent">
				<div id="aboutContent" style="padding-top: 30px">

					<div id="board" >
						
						<%= render 'shared/get_editable_content' %>
					</div>
				
				</div><!-- #aboutContent -->
			</div> <!-- #mainContent -->
