

<div id="page1h">

				<div class="indent">
				 <div class="row-1 line-hor txt2" ></div>
					<div class="row-2">
						<div class="wrapper line-ver">	
							<div class="col-1">
	To Edit this info, go to	<%= link_to Section.find_by_name("home_info").long_name, section_overview_editable_page_path(Section.find_by_name("home_info")) %>
					 		</div>
							<div class="col-2" >
								<h2>News </h2>
								<ul class="news-list">
									<%= render 'shared/get_content' %>	
								</ul>
							
							</div> <!-- col-2 -->
						</div> <!-- wrapper -->
					</div><!-- row-2 -->
					</div> <!-- indent -->
				</div> <!-- #mainContent -->

</div>