<div id="page1h">
	
				<div class="indent">
				 <div class="row-1 line-hor txt2" >

			  		<p class="txt2" style="margin-bottom: 0px;">The mission of <span style="color: #5a7a55">Seeds for All</span> is to promote plant breeding for the benefit of society, fully implementing farmers’ rights &mdash; including those of small and marginal farmers &mdash; on plant genetic resources and promoting biodiversity. <a href="#">Learn More.</a></p>
					</div>	
					<div class="row-2">
						<div class="wrapper line-ver">	
							<div class="col-1">
								<h2>Understanding Plant Variety Protection &amp; Other Relevant Policy</h2>
								<ul class="img-list">
			<%= render 'shared/get_editable_content' %>	
					         	</ul>
					 		</div>
<div class="col-2">
	To Edit this info, go to	<%= link_to Section.find_by_name("home_news").long_name, section_overview_editable_page_path(Section.find_by_name("home_news")) %>
						</div> <!-- wrapper -->
					</div><!-- row-2 -->
					</div> <!-- indent -->
				</div> <!-- #mainContent -->

</div>