<div id="mainContent">
	<div id="IPContent">
		<div class="indent">
	   	<div class="row-1 ">
	    	<h1>Plant Variety Protection &amp; Food Security</h1>
	    	<div class="wrapper">
	     	<%= image_tag("sec-woman.png", :class => "image_left") %>
	      <h2>New and improved plant varieties are one way of achieving better yields and adaptability to global change, both of which are important to food security.</h2>
			<%= render 'shared/get_content' %>	
			</div></div></div>
	    </div>
</div> <!-- #mainContent -->