<div id="mainContent">
	<div id="IPContent">
		<div class="indent">
	   	<div class="row-1 ">
	    	<h1>Plant Variety Protection &amp; Food Security</h1>
	    	<div class="wrapper">
	     	<%= image_tag("sec-woman.png", :class => "image_left") %>
	      <h2>New and improved plant varieties are one way of achieving better yields and adaptability to global change, both of which are important to food security.</h2>
			<%= render 'shared/get_content' %>	
</div>
	    </div>
		<div class="footnotes">
		  <hr>
		  <ol>
		   <li id="fn:1">
		    <p>
		     State of the World Report of FAO “The chief contemporary cause of the loss of genetic diversity has been the spread of modern, commercial agriculture.” Chapter 1, 1998. Pages 13-4. 
		 </p>
		    <a href="#fnref:1" rev="footnote">↩</a>   
		   </li>

		  
		  </ol>
		 </div>
<%= link_to "Add content", new_content_block_path(:section_id => @section.id) %> 
</div> <!-- #mainContent -->

<% content_for :javascript do %>	  
<script>
$(document).ready(function() {
		$("[rel=footnote]").inlineFootnote();
});
</script>
<% end %>
