<div id="mainContent">
	<div id="upovContent" >
		<img src="/assets/policy.jpg">
		<h1 style="margin-top: 20px;">The Convention for the Protection of New Varieties of Plants (UPOV)</h1>
		<div id="origins" >
			<%= render 'shared/get_content' %>		
		</div><!-- #origins -->
		<p><%= link_to "Add content", new_content_block_path(:section_id => @section.id) %> 		
		<div class="subtopicHeading" >Footnotes
		
				</div>
		<div id="footnotes" >
			
				<div class="footnotes">
				 <hr>
				<ol start="3">

				<li id="fn:3">
				    <p>
				     UPOV is the French acronym for the Union International pour la Protection des Obententions Vegetales which is the name of the organization that the International Convention (called the UPOV Convention) established. </p>
				    <a href="#fnref:3" rev="footnote">↩</a>    
				   </li>
				   <li id="fn:4">
				    <p>
				     Sui generis is a Latin expression, literally meaning "of its own kind/genus" or unique in its characteristics <a href="http://dictionary.reference.com/browse/sui+generis"> Dictionary.com entry accessed June 16, 2012</a> </p>
				<a href="#fnref:4" rev="footnote">↩</a> 
				   </li>
				   <li id="fn:5">
				    <p>
				     <a href="http://www.upov.int/about/en/overview.html">Introduction to UPOV (multimedia presentation) accessed June 16, 2012</a> </p>
				    <a href="#fnref:5" rev="footnote">↩</a>   
				   </li>
				   <li id="fn:6">
				    <p>
				     The International Association for the Protection of Intellectual Property (AIPPI) and the International Association of Plant Breeders (ASSINSEL). </p>
				    <a href="#fnref:6" rev="footnote">↩</a>

				   </li>
				   <li id="fn:7">
				    <p>
				     12 European countries participated the 1961 conference that led to the adoption of the UPOV Convention.  What subsequently became the International Bureau for the World Intellectual Property Rights Organization and the Food and Agriculture Organization attended the conference as observers. </p>
				    <a href="#fnref:7" rev="footnote">↩</a>   
				   </li>
				 	
				  </ol>
				 </div>
			</div>
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->