<div id="mainContent">
	<div id="upovContent" >
		<img src="/assets/policy.jpg">
		<h1 style="margin-top: 20px;">The Convention for the Protection of New Varieties of Plants (UPOV)</h1>

		<div id="infrastructure" >
					<%= render 'shared/get_content' %>		
		</div>

	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->