<div id="mainContent">
	<div id="upovContent" >
		<img src="/assets/policy.jpg">
		<h1 style="margin-top: 20px;">The Convention for the Protection of New Varieties of Plants (UPOV)</h1>

		<div id="infrastructure" >
					<%= render 'shared/get_content' %>		
		</div>
		<p><%= link_to "Add content", new_content_block_path(:section_id => @section.id) %> 		
		<div class="subtopicHeading" >Footnotes
			
				</div>
		<div id="footnotes" >
			
				<div class="footnotes">
				 <hr>
				<ol start="10">
				  
				
					<li id="fn:10">
					  <p>
					    UPOV (1982). Agreement between the World Intellectual Property Organization &amp; and the International Union for the Protection of New Varieties of Plants signed on November 26, 1982 [UPOV/INF/8]  <a href="http://www.upov.int/edocs/infdocs/en/upov_inf_8.pdf">PDF</a>
					 </p>
					  <a href="#fnref:10" rev="footnote">↩</a>  
					  </li>

					  <li id="fn:11">
					  <p>
					   UPOV/INF/7 rule 3  <a href="http://www.upov.int/edocs/infdocs/en/upov_inf_7.pdf">PDF</a>
					 </p>
					  <a href="#fnref:11" rev="footnote">↩</a> 
					  </li>
					<li id="fn:12">
					  <p>
					   <a href="http://www.upov.int/export/sites/upov/en/documents/pp_seminar_april_2011/keun_jin_choi_bio.pdf">PDF</a>
					 </p>
					  <a href="#fnref:12" rev="footnote">↩</a> 
					  </li>
					<li id="fn:13">
					  <p>
					   See <a href="http://www.quno.org/geneva/pdf/economic/Issues/UPOV%20study%20by%20QUNO_English.pdf">document</a> section 5, page 12.
					 </p>
					  <a href="#fnref:13" rev="footnote">↩</a> 
					  </li>
					<li id="fn:14">
					  <p>
					   Need a cite to examples of trade agreements with this obligation.
					 </p>
					  <a href="#fnref:14" rev="footnote">↩</a> 
					  </li>
					<li id="fn:15">
					  <p>
					   	UPOV (2005) Rules governing the granting of observer status to states, intergovernmental organizations and international non-governmental organizations in UPOV bodies and access to UPOV documents, adopted by the Council on October 7, 2005 [C/39/13] <a href="http://www.upov.int/export/sites/upov/en/documents/c/39/c_39_13.pdf">PDF</a>
					 </p>
					  <a href="#fnref:15" rev="footnote">↩</a>  
					  </li>
					<li id="fn:16">
					  <p>
					   	Which involves “homogenizing” agro-ecosystems through external inputs such as fertilizer and water delivered through irrigation systems [note to self: may want to cite to other parts of the website, particularly the main background section.] </p>
					  <a href="#fnref:16" rev="footnote">↩</a>  
					  </li>
					<li id="fn:17">
					  <p>
					   <a href="http://www.upov.int/edocs/mdocs/upov/en/c_45/c_45_4_rev_2.pdf">	UPOV (2011) C/45/4 Rev 2 </a>
					 </p>
					  <a href="#fnref:17" rev="footnote">↩</a>  
					  </li>
				  </ol>
				 </div>
			</div>
			
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->