<div id="mainContent">
	<div id="upovContent" >
		<img src="/assets/policy.jpg">
		<h1 style="margin-top: 20px;">The Convention for the Protection of New Varieties of Plants (UPOV)</h1>
		<div id="history">
			<%= render 'shared/get_content' %>		
		</div>

<p>
<%= link_to "Add content", new_content_block_path(:section_id => @section.id) %> 			
		
	
		<div class="subtopicHeading" >Footnotes
			
				</div>
		<div id="footnotes" >
			
				<div class="footnotes">
				 <hr>
				<ol>
				   <li id="fn:1">
				    <p>
				     	For more information see: <a href="http://www.upov.int/overview/en/upov.html">What is UPOV? (UPOV website)</a> and 
							<a href="http://tinyurl.com/econimic-issues-study"> Food, Biological Diversity and Intellectual Property:
							The Role of the International Union for the Protection of New Varieties of Plants (UPOV)</a>
				 </p>
				    <a href="#fnref:1" rev="footnote">↩</a>   
				   </li>

				   <li id="fn:2">
				    <p>
				     Masa Iwanaga and rainbow revolution, [citing or see also] Sperling et al (2001), “A Framework for Analyzing Participatory Plant Breeding Approaches and Results”, Euphytica, Vol. 122, pp 439-450.
				  </p>
				    <a href="#fnref:2" rev="footnote">↩</a>  
				   </li>
				
				  </ol>
				 </div>
			</div>
			
	</div><!-- #aboutContent -->
</div> <!-- #mainContent -->