<div id="mainContent">
	<div id="WTOContent">
		<h1 style="padding-top: 150px">
		Contact -- placeholder</h1>
		<%= @content_block.id %>
		<%= @content_block.content %>
		<%= link_to "Edit", edit_content_block_path(@content_block.id) %>
	</div>
</div> <!-- #mainContent -->