<div id="page1h">
	<div id="livebox" style="display: block; " > <img src="/assets/bigfruit.jpg" width="960" height="345" alt="fruit" />	
	</div>
		<div id="livetwin" >
			<div id="gridr1c1s" ><img src="/assets/animation/g111.jpg"  /></div> 
			<div id="gridr1c3s" ><img src="/assets/animation/g113.jpg"  /></div>  
			<div id="gridr1c5s" ><img src="/assets/animation/g115.jpg" /></div>  
			<div id="gridr2c3s" ><img src="/assets/animation/g123.jpg"  /></div>  
			<div id="gridr3c1s" ><img src="/assets/animation/g131.jpg"   /></div>  
			<div id="gridr3c5s" ><img src="/assets/animation/g135.jpg"   /></div> 
			<div id="gridr3c6s" ><img src="/assets/animation/g136.jpg"    /></div>  
			<div id="gridr1c1d" ><img src="/assets/animation/g211.jpg"     /></div>  
			<div id="gridr1c2d" ><img src="/assets/animation/g212.jpg"   /></div> 
			<div id="gridr1c4d" ><img src="/assets/animation/g214.jpg"   /></div> 
			<div id="gridr1c6d" ><img src="/assets/animation/g216.jpg"  /></div> 
			<div id="gridr2c4d" ><img src="/assets/animation/g224.jpg" /></div> 
			<div id="gridr3c1d" ><img src="/assets/animation/g231.jpg"   /></div> 
			<div id="gridr3c2d" ><img src="/assets/animation/g232.jpg"  /></div>   
			<div id="gridr3c3d" ><img src="/assets/animation/g233.jpg"   /></div>   
			<div id="gridr3c6d" ><img src="/assets/animation/g236.jpg"  /></div>    
		</div> <!-- /#livetwin -->
				<div class="indent">
				 <div class="row-1 line-hor txt2" style="margin-top: 345px;">

			  		<p class="txt2" style="margin-bottom: 0px;">The mission of <span style="color: #5a7a55">Seeds for All</span> is to promote plant breeding for the benefit of society, fully implementing farmers’ rights &mdash; including those of small and marginal farmers &mdash; on plant genetic resources and promoting biodiversity. <a href="#">Learn More.</a></p>
					</div>	
					<div class="row-2">
						<div class="wrapper line-ver">	
							<div class="col-1">
								<h2>Understanding Plant Variety Protection &amp; Other Relevant Policy</h2>
								<ul class="img-list">
				                 	<% if (@content_blocks_info)  %>
										<% @content_blocks_info.each do |c| %><li>
												<h3><%= c.heading %></h3>	
												<%= raw(c.content) %></li>
										<% end %>
									<% end %>
					         	</ul>
					 		</div>
							<div class="col-2" >
								<h2>News </h2>
								<ul class="news-list">
						                 	<% if (@content_blocks_news)  %>
												<% @content_blocks_news.each do |c| %>
														<li><h4><%= c.heading %></h4>	
														<%= raw(c.content) %></li>
												<% end %>
											<% end %>
								</ul>
							</div> <!-- col-2 -->
						</div> <!-- wrapper -->
					</div><!-- row-2 -->
					</div> <!-- indent -->
				</div> <!-- #mainContent -->

</div>
<% content_for :javascript do %>	  
<script type="text/javascript">
$(document).ready(function() {
$('#livebox').fadeOut(10000);
$('#livetwin').fadeIn('slow', 
function() {
	$('#gridr1c1s').delay(1000).fadeIn('slow', 
function () { 
	$('#gridr1c5s').delay(1000).fadeIn('slow',
function () { 							
	$('#gridr1c3s').delay(1000).fadeIn('slow',
function () { 
	$('#gridr2c3s').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c1s').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c5s').delay(1000).fadeIn('slow',
function () {
	$('#gridr3c6s').delay(1000).fadeIn('slow',
function () {
	$('#gridr1c5s').delay(1000).fadeOut('slow',
function () { 	
	$('#gridr2c3s').delay(1000).fadeOut('slow',
function () { 	
	$('#gridr3c5s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr2c4d').delay(1000).fadeIn('slow',
function () {
	$('#gridr1c6d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr1c1s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr1c3s').delay(1000).fadeOut('slow',
function () {
	$('#gridr1c2d').delay(1000).fadeIn('slow',
function () {
	$('#gridr1c1d').delay(1000).fadeIn('slow',
function () {
	$('#gridr3c3d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c1s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr3c6s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr1c4d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c1d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c6d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c2d').delay(1000).fadeIn('slow');
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
</script>
<% end %>