<div id="page1h">
	<div id="livebox" style="display: block; " > <img src="images/bigfruit.jpg" width="960" height="345" alt="fruit" />	
	</div>
		<div id="livetwin" >
			<div id="gridr1c1s" ><img src="images/animation/g111.jpg"  /></div> 
			<div id="gridr1c3s" ><img src="images/animation/g113.jpg"  /></div>  
			<div id="gridr1c5s" ><img src="images/animation/g115.jpg" /></div>  
			<div id="gridr2c3s" ><img src="images/animation/g123.jpg"  /></div>  
			<div id="gridr3c1s" ><img src="images/animation/g131.jpg"   /></div>  
			<div id="gridr3c5s" ><img src="images/animation/g135.jpg"   /></div> 
			<div id="gridr3c6s" ><img src="images/animation/g136.jpg"    /></div>  
			<div id="gridr1c1d" ><img src="images/animation/g211.jpg"     /></div>  
			<div id="gridr1c2d" ><img src="images/animation/g212.jpg"   /></div> 
			<div id="gridr1c4d" ><img src="images/animation/g214.jpg"   /></div> 
			<div id="gridr1c6d" ><img src="images/animation/g216.jpg"  /></div> 
			<div id="gridr2c4d" ><img src="images/animation/g224.jpg" /></div> 
			<div id="gridr3c1d" ><img src="images/animation/g231.jpg"   /></div> 
			<div id="gridr3c2d" ><img src="images/animation/g232.jpg"  /></div>   
			<div id="gridr3c3d" ><img src="images/animation/g233.jpg"   /></div>   
			<div id="gridr3c6d" ><img src="images/animation/g236.jpg"  /></div>    
		</div> <!-- /#livetwin -->
				<div class="indent">
				 <div class="row-1 line-hor txt2" style="margin-top: 345px;">

			  		<p class="txt2" style="margin-bottom: 0px;">The mission of <span style="color: #5a7a55">Seeds for All</span> is to promote plant breeding for the benefit of society, fully implementing farmers’ rights &mdash; including those of small and marginal farmers &mdash; on plant genetic resources and promoting biodiversity. <a href="#">Learn More.</a></p>
					</div>	
					<div class="row-2">
						<div class="wrapper line-ver">	
							<div class="col-1">
								<h2>Understanding Plant Variety Protection &amp; Other Relevant Policy</h2>
								<ul class="img-list">
				                 	<% if (@content_blocks_info)  %>
										<% @content_blocks_info.each do |c| %>
												<h3><%= c.heading %></h3>	
												<%= raw(c.content) %>
										<% end %>
									<% end %>
					         	</ul>
					 		</div>
							<div class="col-2" >
								<h2>News </h2>
								<ul class="news-list">
									<li>
										<h4><span>7/10/2012 </span>
											<a href="http://www.businessdayonline.com/NG/index.php/markets/agribusiness/39777-iita-wacci-sign-pact-to-train-plant-breeders" target="_blank">The Growing Allure of Plant Patenting for Brand Differentiation</a></h4>
							                  Let’s start with what is good about the New Alliance for Food Security and Nutrition. First, with an estimated 1 billion people going to bed hungry every night, anything that keeps agriculture and food security at the top of the international agenda is a good thing.  <a href="#">Read More.</a>
									</li>
									<li>
										<h4><span>06/20/12</span>
											<a href="#">IITA, WACCI sign pact to train plant breeders
											</a></h4>
							                  The International Institute of Tropical Agriculture (IITA) and the West Africa Centre for Crop Improvement (WACCI) have signed a memorandum of understanding (MoU) aimed at training plant breeders in Africa - a strategic move to boost the number of plant breeders on the continent. <a href="http://www.businessdayonline.com/NG/index.php/markets/agribusiness/39777-iita-wacci-sign-pact-to-train-plant-breeders" target="_blank">Read More.</a>
									</li>
									<li>
										<h4><span>06/21/12</span>
											<a href="http://s.tt/1en1t" target="_blank">UNL Launches Online Plant Breeding &amp; Genetics Certificate Program</a></h4>
							                  LINCOLN, Neb., June 13, 2012 /PRNewswire-iReach/ -- The University of Nebraska-Lincoln recently launched a new online educational program designed to meet the growing demand for plant breeding and genetics professionals. <a href="http://s.tt/1en1t" target="_blank">Read More.</a>
									</li>
								</ul>
							</div> <!-- col-2 -->
						</div> <!-- wrapper -->
					</div><!-- row-2 -->
					</div> <!-- indent -->
				</div> <!-- #mainContent -->

</div>
<% content_for :javascript do %>	  
<script type="text/javascript">
$(document).ready(function() {
$('#livebox').fadeOut(10000);
$('#livetwin').fadeIn('slow', 
function() {
	$('#gridr1c1s').delay(1000).fadeIn('slow', 
function () { 
	$('#gridr1c5s').delay(1000).fadeIn('slow',
function () { 							
	$('#gridr1c3s').delay(1000).fadeIn('slow',
function () { 
	$('#gridr2c3s').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c1s').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c5s').delay(1000).fadeIn('slow',
function () {
	$('#gridr3c6s').delay(1000).fadeIn('slow',
function () {
	$('#gridr1c5s').delay(1000).fadeOut('slow',
function () { 	
	$('#gridr2c3s').delay(1000).fadeOut('slow',
function () { 	
	$('#gridr3c5s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr2c4d').delay(1000).fadeIn('slow',
function () {
	$('#gridr1c6d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr1c1s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr1c3s').delay(1000).fadeOut('slow',
function () {
	$('#gridr1c2d').delay(1000).fadeIn('slow',
function () {
	$('#gridr1c1d').delay(1000).fadeIn('slow',
function () {
	$('#gridr3c3d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c1s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr3c6s').delay(1000).fadeOut('slow',
function () { 
	$('#gridr1c4d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c1d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c6d').delay(1000).fadeIn('slow',
function () { 
	$('#gridr3c2d').delay(1000).fadeIn('slow');
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
});
</script>
<% end %>