<div style="float: right; padding-bottom: 30px;">
<%= link_to "View Editable Content", '/edit' %> &nbsp;|&nbsp;
<%= link_to "Add content", new_content_block_path(:section_id => Section.first.id) %> 	 &nbsp;|&nbsp;
<%= link_to "Signout", '/signout' %>
</div>